[user]
	email = alex@mariuti.com
	name = Alexandru Mariuti
[delta]
	line-numbers = true
	side-by-side = false
[pull]
	rebase = false
[http]
	postBuffer = 157286400
[push]
	useForceIfIncludes = true
[init]
	defaultBranch = main
[include]
    path = ~/.config/delta/themes.gitconfig
[safe]
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
